/target/
**/*.rs.bk
*.tdms
*.dat
benchmark_results.md
venv/

# Benchmarking
/benchmark/data/*
/benchmark/results/*
!/benchmark/data/.gitkeep

# Python
__pycache__/
*.py[cod]
*$py.class
benchmark/disk/__pycache__/diskspd.cpython-314.pyc
